doctype html

html
	head
		title Histogram-slider Demo
		style(type="text/css").
			main {
				border: 1px solid black;
				margin: 100px;
				width: 400px;
				height: 400px;
			}

	body(ng-app="app")
		main(ng-controller="demoController as dc")
			input(type="number" ng-model="dc.sliderModel[0]")
			input(type="number" ng-model="dc.sliderModel[1]")

			histogram-slider(ng-model="dc.sliderModel" on-values-updated="actualValue = $values")
			div Actual: {{actualValue | json}}
			div Model: {{dc.sliderModel | json}}
