doctype html

html
	head
		title Histogram-slider Demo
		style(type="text/css").
			main {
				border: 1px solid black;
				margin: 100px;
				width: 400px;
				height: 400px;
			}

	body(ng-app="app")
		main
			histogram-slider(ng-model="val" on-values-updated="actualValue = $values")
			div Actual: {{actualValue | json}}
			div Model: {{val | json}}
