.histogram-slider {
    @background-color: #c7c7c7;

    .slider {

        height: 24px;
        overflow: visible;
        margin: 24px 12px;

        .slider-line-background {
            height: 4px;
            width: 100%;
            top: 0;
            position: relative;
            background-color: @background-color;
        }

        .anchor {

        }

        .slider-line-progress {

        }
    }
}